<!DOCTYPE html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
  <link href="/css/normalize.min.css" rel="stylesheet" type="text/css">
  <link href="/css/default.css" rel="stylesheet" type="text/css">
  <title>Kinsey's Restaurant</title>
</head>
<body>
<header>
  <h1>Kinsey's Restaurant!</h1>
</header>
<main>
  <p>Come eat at my restaurant! It is awesome.</p>

  <p>Great food, great atmosphere!</p>
  <img src=<%= Image.new.randomize_images %>>
  <ul><h1>Menu Items:</h1>
    <% Menu.new('config/menu.txt').items.each do |item| %>
        <li><%= item %></li>
    <% end %>
  </ul>
</main>
<footer>
  <address>
    123 Little Raven St. Denver, CO
  </address>
  <a href="mailto:youremailaddress">Email Me</a>

  <p>&copy; <%= Time.now.year %> </p>
</footer>
</body>
</html>

